.navbar-custom {
    margin-left: 250px;
  }
  
  /* Perfil */
  .profile-section {
    background: none;
  }
  
  .card {
    border-radius: .5rem;
    background-color: transparent; 
    box-shadow: none; 
}

.card-body {
    background-color: #494949f0;
    color: #f8f9fa;

}

.text-muted {
    color: #6c757d !important;
}
   
  
  .fab {
    color: #ffffff;
    font-size: 1.5rem;
    
    transition: color 0.3s ease;
  }
  

  
  h6 {
    color: #187de3;
  }
  
  hr {
    border-color: #6c757d;

  }
  
  .profile-image {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    background-color: #343a40;
    
  }
  
  .profile-User {
    width: 90px;
    border-radius: 50px;

  }
  