
body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}


html[data-bs-theme="light"] {
    background-color: white;
    color: black;
}

html[data-bs-theme="light"] .navbar {
    background-color: #f8f9fa;
}

html[data-bs-theme="light"] .card {
    background-color: #ffffff;
    color: black;
}
