body {
    color: #f8f9fa; 
    padding-top: 60px;
    margin: 0; 
    height: 100vh; 
    overflow-x: hidden; 
  }
  
  main {
    background-color: #494949f0; 
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px; 
    margin-right: 20px; 
    min-height: calc(100vh - 60px); 
    overflow-y: auto; 
  }
  
  .navbar {
    position: fixed; 
    top: 0;
    left: 250px; 
    width: 100%; 
    z-index: 10000; 
  }
  
  .table {
    color: #f8f9fa; 
  }
  
  .table th, .table td {
    border-color: #292929; 
  }
  
  #sidebar-container {
    margin-top: 60px; 
  }
  