html, body {
    margin: 0;
    padding: 0;
    font-family: 'sourcesanspro', sans-serif;
    background-image: url('https://cdn.pixabay.com/photo/2017/08/30/07/52/money-2696219_1280.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    color: rgba(0, 0, 0, 0.8);
}

/* Este es barra fija por si  */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1050; 
}

/* esta es la del lado  */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000; 
}

/* esto es lo principal */
.content {
    margin-left: 250px; 
    margin-top: 56px; 
    padding: 20px;
}


.titulo {
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
}

.titulo-large {
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
}

.productos {
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}
